*{
    background-color: #002F77 ;
}


.cuadro{
    border: solid  #0075B8;
    padding: 1px;
    border-radius: 25px;
    width: 90%;
    height: 800px;
    margin: auto;
    margin-top: 5%;
    background-color: #0075B8 ;
}

.primeracolumna{
    float: left;
    width: 30%;
    height: 600px;
   margin-left: 15px;
   background-color: #0075B8;
}
.columnacentral{
    float:left;
    width: 40%;
    height: 600px;
    background-color: black;
}
.columnaderecha{
    float:left;
    width: 30%;
    height: 600px;
    background-color:white;
}
.

.logo{
    font-size: 150px;
    background-color: #0075B8;
}

p{
    background-color: #0075B8;
}
.parrafo{
    margin-top: 100px;
}

